<h2>Listado</h2>
<button [routerLink]="'formulario'" class="pure-button">Agregar</button> <br><br>
<table class="pure-table">
  <thead>
    <tr>
      <th>id</th>
      <th>Usuario</th>
      <th>Contraseña</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of Usuarios; index as i">
      <td>{{usuario.idusuario}}</td>
      <td>{{usuario.usuario}}</td>
      <td>{{usuario.contrasena}}</td>
      <td>
        <button [routerLink]="['formulario/',usuario.idusuario]" class="pure-button">Editar</button> -
        <button class="pure-button">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
